{%extends 'all_photos/base.html'%} 
{% block content %}



  <div class="row">
    {% if pictures%}
      <h2>Found {{ pictures|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 pictures for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if pictures %}
    {% for picture in pictures %}
      <div class="col-sm-6 col-md-3">
          <h1>{{picture.name}}</h1>
          <img src="{{picture.image.url}}" alt="" height="200px" width="280px">
          <p>{{picture.description}}</p>
          <p>published on:{{picture.post_date}}</p>
          <p>location:{{picture.location}}</p>
          <p>category:{{picture.category}}</p>
      </div>
    {% endfor %}
  {% endif %}
  </div>

{% endblock %}