{%extends 'all_photos/base.html'%}

{% block content %}
{{block.super}}

    
  <div class="container-fluid">
        <div class="row">
                <h1>Hi everyone welcome to mike's personal gallery today</h1>
            <h2>Beauty pics</h2>
            <div class="col-md 4">
               <a href="/land"><img src="https://cdn.pixabay.com/photo/2016/11/19/18/57/godafoss-1840758__340.jpg" height="280px" width="350px" onclick="myFunction(this);"></a>
               <a href="/celeb"> <img src="https://nation.com.pk/print_images/large/2012-10-03/oprah-winfrey-highest-paid-female-hollywood-celeb-1349282973-9594.jpg" height="280px" width="350px" onclick="myFunction(this);"></a>
               <a href="/city"> <a href=""> <img src="https://vancouver.ca/images/cov/feature/corp-plan-downtown-landing-image.jpg" height="280px" width="350px" onclick="myFunction(this);"></a>
                
            </div>
            <div class="col-md 4">
                <h2>Nature pics</h2>
                <a href="/land">    <img src="https://images.pexels.com/photos/814499/pexels-photo-814499.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" height="280px" width="350px" onclick="myFunction(this);"></a>
                <a href="/morning">    <img src="http://cdn.cnn.com/cnnnext/dam/assets/190517091026-07-unusual-landscapes-travel.jpg" height="280px" width="350px" onclick="myFunction(this);"></a>
                <a href="/ocean">   <img src="https://www.plantbasednews.org/.image/t_share/MTY2MTQwMDA4MjcxNDU2MjAz/ocean.jpg" height="280px" width="350px" onclick="myFunction(this);"></a>
            </div>
            <div class="col-md 4">
                <h2>Breathtaking pics</h2>
                <a href="/sun">  <img src="https://img.apmcdn.org/9d8714db45a8d7cd2dbc2e193a91681651243462/uncropped/1f6898-20141209-sunshine.jpg" height="280px" width="350px" onclick="myFunction(this);"></a>
                <a href="/tree">  <img src="https://images.unsplash.com/photo-1489644484856-f3ddc0adc923?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px" onclick="myFunction(this);"></a>
               <a href="/city"> <img src="https://si.wsj.net/public/resources/images/FN-AH184_FN_ZUR_P_20190521061548.jpg" height="280px" width="350px" onclick="myFunction(this);"></a>
            </div>
        </div>

  </div>          
       
            <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>
            <img id="expandedImg" style="width:100%">
            <div id="imgtext"></div>
    </div>

    <script>
            function myFunction(imgs) {
              var expandImg = document.getElementById("expandedImg");
              var imgText = document.getElementById("imgtext");
              expandImg.src = imgs.src;
              imgText.innerHTML = imgs.alt;
              expandImg.parentElement.style.display = "block";
            }
            </script>

{% endblock %}