

{%extends 'all_photos/base.html'%}

{% block content %}
{{block.super}}

   <div class="row">
       <div class="col-md-4">
            <a href="https://unsplash.com/photos/c_o2lRzWI08"><img src="https://images.unsplash.com/photo-1421789665209-c9b2a435e3dc?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px"></a>
            <a href="https://unsplash.com/photos/c_o2lRzWI08"><img src="https://images.unsplash.com/photo-1501084291732-13b1ba8f0ebc?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px"></a>
            <a href="https://unsplash.com/photos/c_o2lRzWI08"><img src="https://images.unsplash.com/photo-1445294211564-3ca59d999abd?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px"></a>
       </div>
       <div class="col-md-4">
            <a href="https://unsplash.com/photos/c_o2lRzWI08"><img src="https://images.unsplash.com/photo-1508788397430-55907b348ba8?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px"></a>
            <a href="https://unsplash.com/photos/c_o2lRzWI08"><img src="https://images.unsplash.com/photo-1441021938578-e42e6989bb81?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px"></a>
            <a href="https://unsplash.com/photos/c_o2lRzWI08"><img src="https://images.unsplash.com/photo-1489644484856-f3ddc0adc923?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px"></a>
           
      </div>
      <div class="col-md-4">
            <a href="https://unsplash.com/photos/c_o2lRzWI08"><img src="https://images.unsplash.com/photo-1541623608922-3bce9d452968?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px"></a>
            <a href="https://unsplash.com/photos/c_o2lRzWI08"><img src="https://images.unsplash.com/photo-1502394202744-021cfbb17454?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px"></a>
            <a href="https://unsplash.com/photos/c_o2lRzWI08"><img src="https://images.unsplash.com/photo-1564860924912-f27764fd2ab6?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" height="280px" width="350px"></a>
           
     </div>
    </div>
    <a href="{% url 'home' %}" class="btn btn-warning">back</a>


{% endblock %}